%html{"xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "= yield :menuelang" => "en"}
  %head
    %meta{:'http-equiv' => "Content-Ttpe", :content => "application/xhtml+xml; charset=utf-8"}
      %title Juwenaliowa Gra Miejska Magiczny Eliksir Studenta
    = javascript_include_tag "jquery"
    = stylesheet_link_tag "main"
    %link{ :rel => "shortcut icon", :type => "image/x-icon", :href => "/images/favicon.gif"}

  %body
    #facebook
      = link_to "", "http://www.facebook.com/pages/Magiczny-Eliksir-Studenta/199500726737459", :class => "facebook_logo", :target => "_blank"
      %p Śledź nas na facebook-u
    #container
      #header
        #logo= image_tag "mesLogo.png", :alt => "juwenaliowa gra miejska magiczny eliksir studenta"
        #menu
          %ul
            %li= link_to "Aktualności", index_static_path, :class => "button"
            %li= link_to "Legenda", legenda_static_path, :class => "button"
            %li= link_to "Rejestracja", new_registration_path, :class => "button"
            %li= link_to "Regulamin", regulamin_static_path, :class => "button"
            %li= link_to "Kontakt", kontakt_static_path, :class => "button"
        #ssLogo
          %p Organizator:
          = link_to image_tag("ssLogo.png"), "http://www.samorzad.uj.edu.pl", :target => "_blank"
          %p Partnerzy:
          = link_to image_tag("ps.png"), "http://przystanekstudent.pl", :target => "_blank", :style => "padding-right:60px;"
          = link_to image_tag("rotunda.png"), "http://rotunda.pl", :target => "_blank"
          %p Sponsorzy:
          = link_to image_tag("kijow.png"), "http://www.kijow.pl/", :target => "_blank", :style => "margin-left:40px;"
          = link_to image_tag("mikro.png"), "http://www.kinomikro.pl/", :target => "_blank", :style => "padding-right:20px;"
          = link_to image_tag("threeLions.png"), "http://www.3lions.pl/", :target => "_blank"
          = image_tag "zapiekanki.png"

      #content
        = yield
    #footer
      %p © copyright Samorząd Studentów Uniwersytetu Jagiellońskiego 2011
      %p
        design and create by Bartosz Michalski
        = link_to "famousbartus.pl", "http://famousbartus.pl"

:javascript
  $(document).ready(function(){
    $('#footer').css('top', 300+$('#content').height());
  });